<div class="chgtmdp">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Changement de Mot de Passe</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
                <mat-form-field>
                  <input matInput placeholder="Utilisateur" [(ngModel)]="editionUser.username" formControlName="username">
                  <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                    Le username est <strong>obligatoire</strong>
                  </mat-error>
                </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput type="newMdp" placeholder="Nouveau Mot de Passe" formControlName="newMdp">
                <mat-error *ngIf="loginForm.controls['newMdp'].hasError('required')">
                  Le mot de passe est <strong>obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="bouton">
            <button mat-raised-button color="accent" type="submit" (click)="onSubmit()" routerLink="/connexion">Enregistrer le nouveau mot de passe</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>