<div class="partenaires">
  <div class="titre">
    <h1>Les Partenaires</h1>
  </div>

  <div class="communes">
    <h4>Les mairies de Mios et de Salles tout d'abord pour leur soutien via les subventions municipales et les gymnases mis à notre disposition</h4>
    <div class="villes">
      <div class="mios"><img src="assets/icone/VilleMios.png" alt="Photo de l'article"></div>
      <div class="salles"><img src="assets/icone/VilleSalles.jpg" alt="Photo de l'article"></div>      
    </div>
  </div>
<br><br>
  <div class="autres">
    <h4>Mais aussi de nombreux commercants sallois :</h4>
    <br>
    <ul>
      <li><strong>PLEIN GAZ</strong> : 13 pl Champ de Foire 33770 SALLES , 05 56 88 48 72</li>
      <li><strong>ANEPIA</strong> : 22 r Croix Blanche 33770 SALLES, 05 56 88 46 46 - <a href="//www.anepia.com/">Site internet</a></li>
      <li><strong>CASA FLORA</strong> : 39 r Croix Blanche 33770 SALLES, 05 56 88 41 43 - <a href="http://www.casaflora.fr/fleuriste-salles">Site internet</a></li>
      <li><strong>LA PIZZ</strong> : 3 rte Badet 33770 SALLES, 05 56 88 46 03 - <a href="http://www.lapizz.fr/">Site internet</a></li>
      <li><strong>BOUCHERIE DUPIN</strong> : 6 pl St Pierre 33770 SALLES , 05 56 88 43 36 - <a href="http://www.laboucheriedupin.com/">Site internet</a></li>
      <li><strong>OPTIQUE DU VAL DE L'EYRE</strong> : 25 r Château 33770 SALLES , 05 56 88 14 88</li>
      <li><strong>CARREFOUR MARKET</strong> : 2 route du Martinet 33770  Salles , 05 56 88 41 99</li>
      <li><strong>THE RED DEVIL II</strong> : 10 rue de la haute Landes 33770 Salles - <a href="https://www.facebook.com/The-Red-Devil-II-587916074633674/">Site facebook</a></li>
      <li><strong>PATISSERIE Roch</strong> : 1 Place de la Mairie 33770 Salles, 05.56.88.41.35 - <a href="https://www.patisserieroch.fr/">Site internet</a></li>
      <li><strong>BOUCHERIE LE BILLOT</strong> : 32 Rue de la Haute Lande 3770 SALLES, 05 56 84 12 58</li>
      <li><strong>SAS CRÉPERIE DU VAL DE L’EYRE</strong> : 33 rue du chateau 33770 SALLES, 05 56 88 40 55</li>
      <li><strong>PHARMACIE DU VAL DE L'EYRE</strong> : 23 rue Château 3770 SALLES, 05 56 88 40 36</li>
      <li><strong>AUTO ECOLE du VAL de L’EYRE</strong> : 22 Bis Rue de la Haute Lande 3770 SALLES 05 57 80 40 13</li>
    </ul>
  </div>
</div>