<div class="statut">
    <div class="titre">
      <h1 *ngIf="isModification">Edition d'un statut</h1>
      <h1 *ngIf="!isModification">Création d'un statut</h1>
    </div>
  
    <div class="data">
      <p>
        <mat-form-field>
          <input matInput placeholder="libelle" [(ngModel)]="editionStatut.libelleStatut" name="libelle">
        </mat-form-field>
      </p>
    </div>
    <div class="boutons">
      <button *ngIf="isModification" mat-raised-button color="primary" (click)="onSave()">Modifier</button>
      <button *ngIf="!isModification" mat-raised-button color="primary" (click)="onSave()">Enregistrer</button>
      <button mat-raised-button color="accent" routerLink="/gestion/statuts">Retour</button>
    </div>
  </div>
