<div class="manifestations">
  <div class="titre">
    <h1>Les Manifestations</h1>
  </div>

  <div class="listeManifestation">
    <!-- <div class="right">
      <button mat-raised-button color="accent" routerLink="/new">Nouvelle Manifestation</button>
      <button mat-raised-button (click)="onEdit(selection.selected)">Modifier</button>
      <button mat-raised-button color="warn" (click)="delete(selection.selected)">Supprimer</button>
    </div> -->
    <div>
      <h3>
        Liste des Manifestations
        <button class="btn btn-primary pull-right" (click)="addEvent()">
          Ajouter
        </button>
        <div class="clearfix"></div>
      </h3>
    </div>  
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Couleur</th>
              <th>Début</th>
              <th>Fin</th>
              <th>Supprimer</th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor="let event of events">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.title"
                  (keyup)="refresh.next()"
                />
              </td>
              <td>
                <input
                  type="color"
                  [(ngModel)]="event.color.primary"
                  (change)="refresh.next()"
                />
              </td>
              <td>
                <input
                  type="color"
                  [(ngModel)]="event.color.secondary"
                  (change)="refresh.next()"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  [(ngModel)]="event.start"
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  [(ngModel)]="event.end"
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  [enableTime]="true"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                />
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteEvent(event)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
