<div class="manifestations">
  <div class="titre">
    <h1>Les Manifestations</h1>
  </div>

  <div *ngIf="!isModification" class="choix">
      <h4>Type de manifestation : </h4>
      <section class="typemanifestation">
          <button mat-stroked-button (click)="filterMatch(); match=true; entrainement=false">Match</button>
          <button mat-stroked-button (click)="filterEnt(); match=false; entrainement=true">Entrainement</button>
      </section>
  </div>
  <br>
  <div *ngIf="match || entrainement" class="listemanifestation">
    <div class="boutons">
      <button *ngIf="match" mat-raised-button color="primary" (click)="onSelection(selection.selected)">Faire une sélection</button>
      <button mat-raised-button (click)="exportAsXLSX()">Exporter</button>
      <button mat-raised-button color="accent" routerLink="/gestion/manifestations/detailmanifestation/newManifestation">Nouveau</button>
      <button mat-raised-button (click)="onEdit(selection.selected)">Editer</button>
      <span *ngIf="confirmDelete">
        <span>Etes vous sûr de vouloir supprimer cette équipe ?</span>
        <button mat-raised-button color="warn" (click)="delete(selection.selected); confirmDelete=false">Oui</button>
        <button mat-raised-button color="accent" (click)="confirmDelete=false">Non</button>
      </span>  
      <button *ngIf="!confirmDelete" mat-raised-button color="warn" (click)="confirmDelete=true">Supprimer</button>
    </div>

    <br>

    <div class="tablemanifestation-responsive">
      <table mat-table [dataSource]="dataSource" class="tableau">
    
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
  
      <!-- Titre Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Titre de la manifestation</th>
        <td mat-cell *matCellDef="let manifestation">{{manifestation.title}}</td>
      </ng-container>

       <!-- Adversaire Column -->
       <ng-container matColumnDef="adversaire">
          <th mat-header-cell *matHeaderCellDef>Adversaire</th>
          <td mat-cell *matCellDef="let manifestation">{{manifestation.adversaire}}</td>
        </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let manifestation">{{manifestation.start | date : 'dd/MM/yyyy - HH:mm'}}</td>
      </ng-container>
      
      <!-- Equipe Column -->
      <ng-container matColumnDef="equipe">
        <th mat-header-cell *matHeaderCellDef>Equipe concernée</th>
        <td mat-cell *matCellDef="let manifestation">{{manifestation.equipe.libelleEquipe}}</td>
      </ng-container>
      
      <!-- Lieu Column -->
      <ng-container matColumnDef="lieu">
        <th mat-header-cell *matHeaderCellDef>Lieu</th>
        <td mat-cell *matCellDef="let manifestation">{{manifestation.lieu.lieu}}</td>
      </ng-container>
      
      <!-- Statut Column -->
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let manifestation">{{manifestation.statut.libelleStatut}}</td>
      </ng-container>

      <!-- nombre de présents Column -->
      <ng-container matColumnDef="present">
        <th mat-header-cell *matHeaderCellDef>Présents</th>
        <td mat-cell *matCellDef="let manifestation">{{manifestation.nbrePresent}}</td>
      </ng-container>

      <!-- nombre d'absents Column -->
      <ng-container matColumnDef="absent">
        <th mat-header-cell *matHeaderCellDef>Absents</th>
        <td mat-cell *matCellDef="let manifestation">{{manifestation.nbreAbsent}}</td>
      </ng-container>

      <!-- nombre de Ne Sais Pas Column -->
      <ng-container matColumnDef="?">
        <th mat-header-cell *matHeaderCellDef>?</th>
        <td mat-cell *matCellDef="let manifestation">{{manifestation.nbreNeSaitPas}}</td>
      </ng-container>
  
      <!-- Nombre de non répondu Column -->
      <ng-container matColumnDef="nonRepondu">
        <th mat-header-cell *matHeaderCellDef>Pas de réponse</th>
        <td mat-cell *matCellDef="let manifestation">{{manifestation.nbrePasRepondu}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
