<div class="creneau">
  <div class="titre">
    <h1 *ngIf="isModification">Edition d'un créneau</h1>
    <h1 *ngIf="!isModification">Création d'un créneau</h1>
  </div>

  <div class="data">
    <p>
      <mat-form-field>
        <input matInput placeholder="libelle" [(ngModel)]="editionCreneau.creneau" name="libelle">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="categorie" [(ngModel)]="editionCreneau.categorie.libelleCategorie" name="categorie">
      </mat-form-field>
    </p>
  </div>
  <div class="boutons">
    <button *ngIf="isModification" mat-raised-button color="primary" (click)="onSave()">Modifier</button>
    <button *ngIf="!isModification" mat-raised-button color="primary" (click)="onSave()">Enregistrer</button>
    <button mat-raised-button color="accent" routerLink="/gestion/creneaux">Retour</button>
  </div>
</div>
