<div class="creneau">
  <div class="titre">
    <h1 *ngIf="isModification">Edition d'un créneau</h1>
    <h1 *ngIf="!isModification">Création d'un créneau</h1>
  </div>

  <div class="data">
    <p>
      <mat-form-field>
        <input matInput placeholder="Libellé du créneau" [(ngModel)]="editionCreneau.creneau" name="libelle">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-select placeholder="Libellé de la catégorie" [(ngModel)]="editionCreneau.categorie.libelleCategorie" name="libelleCategorie">
          <mat-option *ngFor="let categorie of categoriesList" [value]="categorie.libelleCategorie">
            {{categorie.libelleCategorie}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </div>
  <div class="boutons">
    <button *ngIf="isModification" mat-raised-button color="primary" (click)="onSave()" routerLink="/gestion/creneaux">Modifier</button>
    <button *ngIf="!isModification" mat-raised-button color="primary" (click)="onSave()" routerLink="/gestion/creneaux">Enregistrer</button>
    <button mat-raised-button color="accent" routerLink="/gestion/creneaux">Retour</button>
  </div>
</div>
