<div class="accueil">
</div>

  <br>

  <div class="articles">

    <p-carousel class="carousel" headerText="News" [value]="articles">
        <ng-template class="article" let-article pTemplate="item">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12"><strong>{{ article.titreArticle }}</strong></div>
                </div>
                <br>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12"><img class="image" src="{{ article.photoArticle }}" alt="Photo de l'article"></div>
                </div>
                <br>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12 contenu">{{ article.contenuArticle }}</div>
                </div>
                <br>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                      <button mat-raised-button><a routerLink="/article/{{ article.idArticle }}">Lire l'article</a></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>



    <!-- <div class="article" *ngFor="let article of articleList | async">
      <div class="entete">
        <h4>{{ article.titreArticle }}</h4>
      </div>
      <div class="noimage" *ngIf="!article.photoArticle ; else Image"><img mat-card-image src="assets/photos/NoImage.jpg">
      </div>

      <div class="contenu">
        <div>
          <img class="image" src="{{ article.photoArticle }}" alt="Photo de l'article">
        </div>
        <p class="texte">{{ article.contenuArticle }}</p>
      </div>
      <div class="bouton">
        <button mat-raised-button><a routerLink="/article/{{ article.idArticle }}">Lire l'article</a></button>
      </div>
    </div> -->
  </div>
<br>