.accueil {
    display: flex;
    justify-content: center;
    font-family: Muli;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Muli;
}

.carousel {
    width: 85%;
}

.ui-carousel-viewport {
    max-height: 400px !important;
}

.ui-grid-row {
    text-align: center;
}

.ui-grid {
    margin: 10px 0px;
}

.ui-grid-row > div {
    padding: 4px 10px;
}

.contenu {
    overflow: hidden;
}

.article {
    flex-direction: column;
    margin-left: 1px;
    margin-right: 1px;
    max-width: 300px;
    max-height: 600px;
    border-radius: 3px;
    background: rgb(224, 226, 221);
    border-style: groove;
    border-color: rgb(252, 252, 251);
    border-width: 2px;
}

.image {
    max-width: 200px;
}