<div class="edition">
  
  <div class="identification">
    <h1 *ngIf="isModification" class="equipe">Edition de l'équipe <strong>{{ editionEquipe.libelleEquipe }}</strong></h1>
    <h1 *ngIf="!isModification" class="equipe">Création d'une nouvelle équipe</h1>
    <div>
    <mat-form-field>
      <input matInput placeholder="Nom de l'équipe" [(ngModel)]="editionEquipe.libelleEquipe" name="libelleEquipe">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Libellé de la catégorie" [(ngModel)]="editionEquipe.categorie.libelleCategorie" name="categorie">
        <mat-option *ngFor="let categorie of categoriesList" [value]="categorie.libelleCategorie">
          {{categorie.libelleCategorie}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p-colorPicker placeholder="Couleur" [(ngModel)]="editionEquipe.couleur" name="couleur"></p-colorPicker>
  </div>
  </div>

  <div *ngIf="isModification" class="boutons">
    <button mat-raised-button (click)="exportAsXLSX()">Exporter</button>
    <button mat-raised-button color="primary" (click)="ajouter(selection.selected)">Ajouter</button>
    <button mat-raised-button color="warn" (click)="enlever(selection.selected)">Enlever</button>
  </div>

  <div *ngIf="isModification" class="tab">
      <div class="joueurEquipe">
          <h3>Joueurs de l'équipe</h3>
          <div >
            <table mat-table [dataSource]="dataEquipe" class="tableau">
          
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
    
            <!-- Nom Column -->
            <ng-container matColumnDef="nomJoueur">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let joueur">{{ joueur.nom }}</td>
            </ng-container>
    
            <!-- Prenom Column -->
            <ng-container matColumnDef="prenomJoueur">
                <th mat-header-cell *matHeaderCellDef>Prénom</th>
                <td mat-cell *matCellDef="let joueur">{{ joueur.prenom }}</td>
              </ng-container>
    
            <!-- Licence Column -->
            <ng-container matColumnDef="licenceJoueur">
              <th mat-header-cell *matHeaderCellDef>N° Licence</th>
              <td mat-cell *matCellDef="let joueur">{{ joueur.avoir.licence.numeroLicence }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>

    <div class="joueurDispo">
        <h3>Joueurs disponibles</h3>
        <div>
          <table mat-table [dataSource]="dataAdulte" class="tableau">
        
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
  
          <!-- Nom Column -->
          <ng-container matColumnDef="nomJoueur">
            <th mat-header-cell *matHeaderCellDef>Nom</th>
            <td mat-cell *matCellDef="let joueurAdulte">{{ joueurAdulte.nom }}</td>
          </ng-container>
  
          <!-- Prenom Column -->
          <ng-container matColumnDef="prenomJoueur">
              <th mat-header-cell *matHeaderCellDef>Prénom</th>
              <td mat-cell *matCellDef="let joueurAdulte">{{ joueurAdulte.prenom }}</td>
            </ng-container>
  
          <!-- Licence Column -->
          <ng-container matColumnDef="licenceJoueur">
            <th mat-header-cell *matHeaderCellDef>N° Licence</th>
            <td mat-cell *matCellDef="let joueurAdulte">{{ joueurAdulte.avoir.licence.numeroLicence }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
  </div>
  <br>
  <div class="boutons">
      <button *ngIf="isModification" mat-raised-button color="primary" (click)="onSave()" routerLink="/gestion/equipes">Modifier</button>
      <button *ngIf="!isModification" mat-raised-button color="primary" (click)="onSave()" routerLink="/gestion/equipes">Enregistrer</button>
      <button mat-raised-button color="accent" routerLink="/gestion/equipes">Retour</button>
  </div>
  <br>
</div>