.equipes {
    font-family: Maven Pro;
}

.titre {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.boutons {
    display: flex;
    justify-content: flex-end;
}

table {
    width: 100%;
}

th.mat-header-cell {
    text-align: center;
}

td {
    text-align: center;
}

.tableequipe {
    display: flex;
    justify-content: center;
    height: 400px;
    overflow: auto;
}

.tableau {
    border-spacing: 10px;
}