.joueurs {
    font-family: Maven Pro;
}

.titre {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

th.mat-header-cell {
    text-align: center;
}

td {
    text-align: center;
}

.tableau {
    border-spacing: 10px;
}

@media only screen and (min-width: 600px) {
    .boutons {
        display: flex;
        justify-content: flex-end;
    }
    
    .menu {
        display: none;
    }   
    
    .bouton {
        display: flex;
        justify-content: flex-end;
    }

    .tablejoueurmax {
        display: flex;
        justify-content: center;
        height: 400px;
        overflow: auto;
    }

    .tablejoueur {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .boutons {
        display: none;
    }
  
    .bouton {
      display: flex;
      justify-content: center;
    }

    .tablejoueurmax {
        display: none;
    }
  }