<div class="consultationArticle">
  <div class="titre">
    <h1>{{ consultationArticle.titreArticle }}</h1>
  </div>

  <div class="contenuArticle">
    <div class="noimage" *ngIf="!consultationArticle.photoArticle ; else Image"><img mat-card-image src="assets/photos/NoImage.jpg">
    </div>

    <div class="image">
      <img class="img" src="{{ consultationArticle.photoArticle }}" alt="Photo de l'article">
    </div>
    <br>
    <div class="contenu">
      <h4>{{ consultationArticle.contenuArticle }}</h4>
    </div>
  </div>

  <br>

  <div class="boutons">
    <button mat-button><a routerLink="/accueil">Retour</a></button>
  </div>

</div>