.titre {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 26px; 
    justify-content: center;
    /* text-align: center !important; */
    font-family: Muli; 
}

@media only screen and (min-width: 600px) {
    .contenuArticle {
        display: flex;
    }
    
    .image{
        text-align: center;
    }

    img {
        width: 80vw;
    }
    
    .contenu {
        margin-left: 50px;
        margin-top: 50vh;
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 600px) {
    img {
        width: 80vw;
    }
}