.consultationArticle {
    display: flex;
    flex-direction: column;
}

.titre {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 26px; 
    display: flex;
    justify-content: center;
    font-family: Muli; 
}

@media only screen and (min-width: 600px) {
    .contenuArticle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img {        
        max-height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    img {
        width: 100vw;
    }
}

.boutons {
    display: flex;
    justify-content: flex-end;
}