.equipes{
  font-family: Maven Pro;
}

.titre {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.categories {
  display: flex;
  justify-content: center;
}

  .jeunes {
    width: 40%;
    margin-left: 50px;
  }
  
  .adultes {
    width: 40%;
    margin-left: 100px;
  }