<div class="equipes">
  <div class="titre">
    <h1>Les Equipes</h1>
  </div>
  
  <div class="categories">
    <div class="jeunes">
      <h2>Les Jeunes</h2>
      <p>
        Tous les ans, l'USM engage de nombreux jeunes dans les compétitions officielles au niveau départementale ou régionale.
      </p>
      <p>
        Cela couvre les catégories de M11 à M20 (selon les années et les effectifs, certains catégories peuvent ne pas être représentées).
      </p>
      <ul>    
        <li>  
          <u>Entraineur M11 - M13 :</u>
          <p>Jean Noêl BERTHEUIL</p>
          <p>06.35.53.55.34</p>
        </li>
        <br>
        <li>   
          <u>Entraineur M15- M17F - M20F :</u>
          <p>Dominique BRANDELON</p>
          <p>06.63.66.16.90</p>
        </li>
        <br>
        <li>   
          <u>Entraineur M17G - Adultes Débutants :</u>
          <p>Matthieu RAES</p>
        </li>
      </ul> 
    </div>
    <div class="adultes">
      <h2>Les Adultes</h2>
      <p>
          Tous les ans l'USM Volley s'engage dans plusieurs compétitions adultes organisées par la comité de Gironde de Volley Ball :
      </p>
      <ul>
        <li>
          <u>Championnat Loisir :</u>
            <p>Ce championnat est une compétition mixte (2 filles au minimum obligatoires sur le terrain) en 6 x 6 avec un filet à 2m35. Les capitaines des équipes engagées sont :</p>
            <ul>
              <li><b>Loisir 1 :</b> Karine GERVAISE & Stéphane ALAMICHEL (suppléant)</li>
              <li><b>Loisir 2 :</b> Matthieu RAES & Matthieu LONDEIX (suppléant)</li>
            </ul>  
        </li>
        <br> 
        <li>
          <u>Championnat Open :</u>
            <p>Ce championnat est une compétition adulte de niveau intermédiaire entre le loisir et les compétitions départementales ou régionales toujours en 6 x 6 avec un filet à 2m43. Initialement proposée exclusivement aux hommes cette compétition s'est ouverte peu à peu aux femmes (mais avec un filet aussi haut il vaut mieux être grande ...) Le niveau de jeu peut y être assez élevé et concerne en général les meilleurs joueurs de Loisir.</p>
            <p>L'équipe est gérée par Yohan DEILHES et Ayumu NODA (suppléant).</p>
        </li>
        <br>
        <li>
          <u>Coupe HEITZ :</u>
            <p>Cette coupe est réservée aux équipes de femmes toujours en 6 x 6 avec un filet à 2m24.</p> 
            <p>Christelle LANGLOIS et Séverine MARTIREN (suppléante) gèrent cette équipe.</p>
        </li>    
      </ul>
    </div>
  </div>
</div>
