<div class="inscription">
  <div class="titre">
    <h1>Inscription à la manifestation</h1>
  </div>

  <div class="corps">
    <p *ngIf="isEntrainement">{{ inscriptionManifestation.title | uppercase}}</p>
    <p *ngIf="!isEntrainement">{{ inscriptionManifestation.title | uppercase}} pour {{ inscriptionManifestation.equipe.libelleEquipe }}</p>
    <p>{{ joueur.nom }} {{ joueur.prenom }}</p>
    <mat-form-field>
      <mat-select placeholder="Disponibilite" [(ngModel)]="newParticipation.disponibilite.idDisponibilite" name="disponibilite">
        <mat-option *ngFor="let disponibilite of disponibiliteList" [value]="disponibilite.idDisponibilite">
          {{disponibilite.libelleDisponibilite}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="boutons">
    <button mat-raised-button color="primary" type="submit" (click)="onSave()">Enregistrer</button>
    <button mat-raised-button color="accent" routerLink="/agenda">Retour</button>
  </div>
</div>