<div class="gestion">
  <div class="left">
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les licenciés et les droits</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les statuts</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les lieux</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les équipes</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les créneaux</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  
  <div class="right">
    <mat-list>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent">Gérer</button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent">Gérer</button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent">Gérer</button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent">Gérer</button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent">Gérer</button>
      </div>
      <mat-divider></mat-divider>
    </mat-list>  
  </div>

</div>
