<div class="gestion">
  <div class="titre">
      <h1>Gestion des données</h1>
  </div>

  <div class="gerer">
  <div class="left">
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les licenciés et les droits</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les équipes</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les articles</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les statuts</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les lieux</mat-list-item>
      <mat-divider></mat-divider>      
      <mat-list-item>Gérer les créneaux</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Gérer les motifs de disponibilités</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  
  <div class="right">
    <mat-list>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent" routerLink="/gestion/joueurs">Gérer</button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent" routerLink="/gestion/equipes">Gérer</button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
          <button mat-raised-button color="accent" routerLink="/gestion/articles">Gérer</button>
        </div>
        <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent" routerLink="/gestion/statuts">Gérer</button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent" routerLink="/gestion/lieux">Gérer</button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent" routerLink="/gestion/creneaux">Gérer</button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-raised-button color="accent" routerLink="/gestion/disponibilites">Gérer</button>
      </div>
      <mat-divider></mat-divider>
    </mat-list>  
  </div>
</div>
</div>
