<div class="connexion">

  <div>
    <div class="user">
      <mat-form-field>
        <input matInput placeholder="Utilisateur">
      </mat-form-field>
    </div>
    <div class="mdp">
      <mat-form-field>
        <input matInput placeholder="Mot de Passe">
      </mat-form-field>
    </div>
    <div class="oublie">
      <sub>
        Mot de passe oublié ?
      </sub>
    </div>
    <div class="bouton">
        <button mat-raised-button color="accent" type="submit" (click)="onSave()">Se Connecter</button>
    </div>
  </div>

  

</div>