.connexion {
    font-family: Maven Pro;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
}

.oublie {
    font-size: 12px;
    margin-left: 100px;
    color: blue;
}

.bouton{
    margin-top: 30px;
    margin-left: 35px;
}