<div class="saisie">

<div class="left">
  <p>
    <mat-form-field>
      <input matInput placeholder="Nom">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Prénom">
    </mat-form-field>
  </p>
  <p>  
  <mat-form-field>
    <input matInput placeholder="Numéro">
  </mat-form-field>
  </p>
  <p>
    <mat-form-field>
     <input matInput placeholder="Rue">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Code Postal">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Ville">
    </mat-form-field>
  </p>
</div>

<div class="right">
  <p>
    <mat-form-field>
      <input matInput placeholder="N° de téléphone">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="N° de portable">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date de Naissance">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Nom d'utilisateur">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Mot de passe choisi">
    </mat-form-field>
  </p>

  <div class="bouton">
    <button mat-raised-button color="accent" type="submit" (click)="onSave()">Enregistrer</button>
</div>
</div>

</div>