.saisie{
  font-family: Maven Pro;
}

.titre {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.data {
  display: flex;
  /* flex-direction: row !important; */
  flex-wrap: wrap;
  /* justify-content: center; */
}
  
.left {    
  /* flex-grow: 1; */
  width: 40%;
  margin-left: 50px;
}

.center {
  /* flex-grow: 2; */
  width: 40%;
  margin-left: 50px;
}
  
.right {
  /* flex-grow: 3; */
  width: 40%;
  margin-left: 50px;
}