.agenda{
  font-family: Maven Pro;
}

.titre {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.fullcalendrier {
  width: 100% !important;
}