header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: linear-gradient(#F9E63A, #FFFFFF);
    /* height: 120px; */
}

.titre {
    display: flex;
    justify-content: center;
}

.usm {
    /* opacity: 0.3; */
    max-height: 200px;
}

.beach {
    max-height: 100px;
    margin-right: 50px;
}

.volley {
    max-height: 100px;
    margin-left: 50px;
}

.maxmenu {
    display: flex;
}

.logo {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.img {
    max-height: 90px;
    opacity: 10%;
}

.menu1 {
    justify-content: flex-end !important;
    flex-grow: 1;
    margin-top: 25px;
 }

 .menu2 {
    flex-grow: 1;
    margin-top: 25px;
 }
 
 footer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: linear-gradient(#FFFFFF, #F9E63A);
    position: relative;
}

.maxcontact {
    display: flex;
}

.contacter {
    flex-grow: 1;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.president {
    flex-grow: 2;
    font-size: 12px;
    margin-left: 150px;
}

.entraineur1 {
    flex-grow: 3;
    font-size: 12px;
}

.entraineur2 {
    flex-grow: 4;
    font-size: 12px;
}

.entraineur3 {
    flex-grow: 5;
    font-size: 12px;
}

html, body { height: 100%; }

header, footer {font-family: Muli; }

@media only screen and (min-width: 600px) {
    .minmenu {
        display: none;
    }
    .mincontact {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .maxmenu {
        display: none;
    }
    .maxcontact {
        display: none;
    }
}