header {
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F9E63A;
}

.img-responsive{
    width: 30%;
}

.logo {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.menu {
    /* font-size: 20px; */
    justify-content: center !important;
    flex-grow: 1;
    height: 20px;
    margin-top: 50px;
 }

 footer {
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F9E63A;
    position: relative;
}

.contact {
    flex-grow: 1;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.president {
    flex-grow: 2;
    font-size: 12px;
    margin-left: 150px;
}

.entraineur1 {
    flex-grow: 3;
    font-size: 12px;
}

.entraineur2 {
    flex-grow: 4;
    font-size: 12px;
}

.entraineur3 {
    flex-grow: 5;
    font-size: 12px;
}

html, body { height: 100%; }

header, footer {font-family: Maven Pro; }