<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  <title>{{title}}</title>
</head>

<header>
  <div class="menu1">
    <button mat-button routerLink="">Accueil</button>
    <button mat-button routerLink="/equipes">Les Equipes</button>
    <button mat-button routerLink="/agenda">L'Agenda</button>
    <button mat-button routerLink="/lieux">Les Lieux</button>
  </div>
  <div class="logo">
    <img class="img-responsive" src="assets/images/logo_usm_mios.png" routerLink="">
  </div>
  <div class="menu2">
    <button mat-flat-button routerLink="/saisie">{{formulaire}}</button>
    <button mat-flat-button routerLink="/partenaires">Les Partenaires</button>
    <button *ngIf="!isLoggedin" mat-flat-button routerLink="/connexion">Connexion</button>
    <button *ngIf="isLoggedin && isLicencie" mat-flat-button [matMenuTriggerFor]="menuL">Licencié</button>
      <mat-menu #menuL="matMenu">
        <button mat-menu-item routerLink="/saisie">Mon Profil</button>
        <button mat-menu-item type="submit" (click)="onDeconnect()">Se déconnecter</button>
      </mat-menu>
    <button *ngIf="isLoggedin && isCapitaine" mat-menu-item [matMenuTriggerFor]="menuC">Capitaine</button>
      <mat-menu #menuC="matMenu">
        <button mat-menu-item routerLink="/saisie">Mon Profil</button>
        <button mat-menu-item routerLink="/accueil/redactionArticle">Publier un Article</button>
        <button mat-menu-item routerLink="/manifestations">Gérer une Manifestation</button>
        <button mat-menu-item>Faire une Sélection</button>
        <button mat-menu-item>Envoyer un Mail</button>
        <button mat-menu-item type="submit" (click)="onDeconnect()">Se déconnecter</button>
      </mat-menu>
    <button *ngIf="isLoggedin && isBureau" mat-flat-button [matMenuTriggerFor]="menuB">Bureau</button>
      <mat-menu #menuB="matMenu">
        <button mat-menu-item routerLink="/saisie">Mon Profil</button>
        <button mat-menu-item routerLink="/accueil/redactionArticle">Publier un Article</button>
        <button mat-menu-item routerLink="/manifestations">Gérer une Manifestation</button>
        <button mat-menu-item>Faire une Sélection</button>
        <button mat-menu-item>Envoyer un Mail</button>
        <button mat-menu-item routerLink="/gestion">Gérer les Données</button>
        <button mat-menu-item type="submit" (click)="onDeconnect()">Se déconnecter</button>
    </mat-menu>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="contact">
    <p>Nous contacter :</p>
  </div>
  <div class="president">
    <p>Bruno MENAGER</p>
    <p>06 66 16 06 31</p>
    <a href="mailto:unionsallesmios.volley@gmail.com">unionsallesmios.volley@gmail.com</a>
  </div>
  <div class="entraineur1">
    <p>Dominique BRANDELON</p>
    <p>M15F - M17F - M20F</p>
    <p>06 63 66 16 90</p>
  </div>
  <div class="entraineur2">
    <p>Jean Noel BERTHEUIL</p>
    <p>M11 - M13F</p>
    <p>06 35 53 55 34</p>
  </div>
  <div class="entraineur3">
    <p>Matthieu RAES</p>
    <p>M17G - Adultes Débutants</p>
    <p></p>
  </div>
</footer>