header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: linear-gradient(#F9E63A, #FFFFFF);
}

.titre {
    display: flex;
    justify-content: center;
}

.usm {
    max-height: 100px;
}

.beach {
    max-height: 50px;
    margin-right: 100px;
    margin-top: 20px;
}

.volley {
    max-height: 50px;
    margin-left: 100px;
    margin-top: 20px;
}

.maxmenu {
    display: flex;
}

.menu1 {
    flex-grow: 1;
 }

 .menu2 {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
 }
 
 footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: linear-gradient(#FFFFFF, #F9E63A);
    position: relative;
}

.maxcontact {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contacter {
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
}

.lieux {
    font-size: 14px;
    margin-top: 10px;
}

.salles {
    font-size: 12px;
}

.mios {
    font-size: 12px;
}

html, body { height: 100%; }

header, footer {font-family: Muli; }

@media only screen and (min-width: 600px) {
    .minmenu {
        display: none;
    }
    .mincontact {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .maxmenu {
        display: none;
    }
    .maxcontact {
        display: none;
    }

    .volley {
        display: none;
    }

    .beach {
        display: none;
    }

    .usm {
        margin-top: 0px;
        width: 160px;
        height: 80px;
    }
}