.manifestation {
  font-family: Maven Pro;
}

.titre {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.choix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

img {
  max-height: 35px; 
  margin-left: 50px;
}

.boutons {
  display: flex;
  justify-content: flex-end;
}