<div class="article">
  <div class="titre">
    <h1 *ngIf="isModification">Modification d'un article</h1>
    <h1 *ngIf="!isModification">Rédaction d'un article</h1>
  </div>

  <div class="data">
    <p>
      <mat-form-field>
        <input matInput placeholder="Titre" [(ngModel)]="editionArticle.titreArticle" name="titre">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Contenu" [(ngModel)]="editionArticle.contenuArticle" name="contenu">
      </mat-form-field>
    </p>
    <p>
      Photo de l'article<br>
      <input placeholder="Photo" type="file" name="photo" ng2FileSelect [uploader]="uploaderPhoto" />
      <button mat-raised-button type="button" class="btn btn-success btn-s" 
        (click)="uploaderPhoto.uploadAll()" 
        [disabled]="!uploaderPhoto.getNotUploadedItems().length" >
            Charger
      </button>
    </p>
  </div>
  <div class="boutons">
    <button *ngIf="isModification" mat-raised-button color="primary" (click)="onSave()">Modifier</button>
    <button *ngIf="!isModification" mat-raised-button color="primary" (click)="onSave()">Enregistrer</button>
    <button mat-raised-button color="accent" routerLink="/gestion/articles">Retour</button>
  </div>
</div>