<div class="article">
  <div class="titre">
    <h1 *ngIf="isModification">Modification d'un article</h1>
    <h1 *ngIf="!isModification">Rédaction d'un article</h1>
  </div>

  <div class="data">
    <form [formGroup]="articleForm" >        
      <div formGroupName="articleGroup">
          <mat-form-field>
              <input matInput required placeholder="Titre de l'article" type="text" formControlName="titreArticle" [errorStateMatcher]="confirmValidParentMatcher" [(ngModel)]="editionArticle.titreArticle">
          </mat-form-field>
      </div>
      <div>
        <mat-form-field>
            <textarea matInput required placeholder="Contenu de l'article" type="text" formControlName="contenuArticle" [(ngModel)]="editionArticle.contenuArticle"></textarea>
        </mat-form-field>
      </div>
      <div>
        <input matInput placeholder="Photo de l'article" [(ngModel)]="editionArticle.photoArticle" formControlName="photoArticle">
        <input type="file" id="userPhoto" (change)="onSelectPhoto($event)" #fileInput style="display: none">
        <mat-form-field>
          <input matInput formControlName="photoArticle" placeholder="Photo à charger" readonly>
        </mat-form-field>
        <br>
        <button mat-raised-button (click)="select()">Selectionner</button>
      </div>
    </form>
  </div>
<br>
  <div class="boutons">
    <button *ngIf="isModification" mat-raised-button color="primary" (click)="onSave()" routerLink="/gestion/articles">Modifier</button>
    <button *ngIf="!isModification" mat-raised-button color="primary" (click)="onSave()" routerLink="/gestion/articles">Enregistrer</button>
    <button mat-raised-button color="accent" routerLink="/gestion/articles">Retour</button>
  </div>
  <br>
</div>