.envoyerMail {
    font-family: Maven Pro;
}

.titre {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.choix {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.contenu {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-left: 25%;
}

.boutons {
    display: flex;
    justify-content: center;
}