.calendrier{
  font-family: Maven Pro;
}

.titre {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center !important;
}

h3 {
  display: flex;
  justify-content: center !important;
  margin: 0 0 10px;
}

.boutons {
  display: flex;
  justify-content: flex-end;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}