<div class="calendrier">
  <div class="titre">
    <h1>Calendrier du Club</h1>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Précédent
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Mois M
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Suivant
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Mois
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Semaine
        </div>
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Jour
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <br />
  <div *ngIf="isCapitaine || isBureau">
    <h3>
      Liste des Manifestations
    </h3>
    <div class="boutons">
      <button mat-raised-button color="accent" (click)="addEvent()">
        Ajouter
      </button>
      <button mat-raised-button color="primary" (click)="deleteEvent(event)">
          Modifier
        </button>
        <button mat-raised-button color="warn" (click)="deleteEvent(event)">
          Supprimer
      </button>
      <div class="clearfix"></div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th mat-header-cell *matHeaderCellDef></th>
            <th>Titre</th>
            <th>Equipe</th>
            <th>Début</th>
            <th>Lieu</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (keyup)="refresh.next()"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.team"
                (change)="refresh.next()"
              />
            </td>
            <td>
              <input
                tclass="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.start"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.lieu"
                (change)="refresh.next()"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.statut"
                (change)="refresh.next()"
              />
            </td>
            <td>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="isLicencie || isCapitaine || isBureau">
    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Détail de la Manifestation</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Action:
          <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          S'inscrire
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          Fermer
        </button>
      </div>
    </ng-template>
  </div>
</div>