.disponibilite {
    font-family: Maven Pro;
}

.titre {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.data {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
}

.boutons {
    display: flex;
    justify-content: flex-end;
}