<h1>Edition du profil de <strong>{{ editionJoueur.nom }} {{ editionJoueur.prenom }}</strong></h1>
<div class="edition">
<div class="identification">
  <mat-form-field>
      <input matInput placeholder="Nom" [(ngModel)]="editionJoueur.nom" name="nom">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom" [(ngModel)]="editionJoueur.prenom" name="prenom">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Sexe" [(ngModel)]="editionJoueur.sexe" name="sexe">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date de Naissance" [(ngModel)]="editionJoueur.dateNaissance" name="dateNaissance">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div class="adresse">
  <mat-form-field>
    <input matInput placeholder="Numéro" [(ngModel)]="editionJoueur.numeroAdresse" name="numeroAdresse">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Rue" [(ngModel)]="editionJoueur.rue" name="rue">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Code Postal" [(ngModel)]="editionJoueur.codePostal" name="codePostal">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ville" [(ngModel)]="editionJoueur.ville" name="ville">
  </mat-form-field>
</div>
<div class="contact">
  <mat-form-field>
    <input matInput placeholder="@ Mail" [(ngModel)]="editionJoueur.mail" name="mail">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Téléphone Fixe" [(ngModel)]="editionJoueur.telephone1" name="telephone1">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Téléphone Portable" [(ngModel)]="editionJoueur.telephone2" name="telephone2">
  </mat-form-field>
<div class="donneesClub">  
  <mat-form-field>
    <input matInput placeholder="Fonction" [(ngModel)]="editionJoueur.user.fonction.libelleFonction" name="libelle">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Numero de Licence" [(ngModel)]="editionJoueur.avoir.licence.numeroLicence" name="numeroLicence">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Validité Licence" [(ngModel)]="editionJoueur.avoir.isValide" name="validiteLicence">
  </mat-form-field>
</div>
<div class="equipes">
  <!-- <mat-form-field *ngFor="let equipeControl of getEquipesControl().controls; let i = index">
    <mat-select placeholder="Equipe" [formControlName]="i">
    
      <mat-option *ngFor="let equipe of equipes" [value]="equipesInit[i]">
        {{ equipe.libelleEquipe }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <button mat-raised-button color="accent" (click)="onAddEquipe()">Ajouter une équipe</button>
</div>
</div>