<div class="edition"></div>
<h1 class="titre">Edition du profil de <strong>{{ editionJoueur.nom }} {{ editionJoueur.prenom }}</strong></h1>
<div class="identification">
  <mat-form-field>
      <input matInput placeholder="Nom" [(ngModel)]="editionJoueur.nom" name="nom">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom" [(ngModel)]="editionJoueur.prenom" name="prenom">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Taille" [(ngModel)]="editionJoueur.taille" name="taille">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Sexe" [(ngModel)]="editionJoueur.sexe" name="sexe">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date de Naissance" [(ngModel)]="editionJoueur.dateNaissance" name="dateNaissance">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div class="adresse">
  <mat-form-field>
    <input matInput placeholder="Numéro" [(ngModel)]="editionJoueur.numeroAdresse" name="numeroAdresse">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Rue" [(ngModel)]="editionJoueur.rue" name="rue">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Code Postal" [(ngModel)]="editionJoueur.codePostal" name="codePostal">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ville" [(ngModel)]="editionJoueur.ville" name="ville">
  </mat-form-field>
</div>
<div class="contact">
  <mat-form-field>
    <input matInput placeholder="@ Mail" [(ngModel)]="editionJoueur.mail" name="mail">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Téléphone Fixe" [(ngModel)]="editionJoueur.telephone1" name="telephone1">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Téléphone Portable" [(ngModel)]="editionJoueur.telephone2" name="telephone2">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="username" [(ngModel)]="editionJoueur.user.username" name="username">
    </mat-form-field>
<div class="donneesClub">  
  <mat-form-field>
    <mat-select placeholder="Fonction" [(ngModel)]="editionJoueur.user.roleList" name="roleList">
      <mat-option *ngFor="let fonction of fonctionList" [value]="editionJoueur.user.roleList">
        {{fonction.libelleFonction}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Formulaire" [(ngModel)]="editionJoueur.avoir.licence.formulaire" name="formulaire">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Certificat Médical" [(ngModel)]="editionJoueur.avoir.licence.certificatMedical" name="certificat">
    </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Numero de Licence" [(ngModel)]="editionJoueur.avoir.licence.numeroLicence" name="numeroLicence">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Validité Licence" [(ngModel)]="editionJoueur.avoir.isValide" formControlName="validiteLicence">
      <mat-option value="vide">  </mat-option>
      <mat-option value="true">Licence Ok</mat-option>
      <mat-option value=false>Licence Nok</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="boutons">
  <button mat-raised-button color="primary" type="submit" (click)="onSave()">Enregistrer</button>
  <button mat-raised-button color="accent" routerLink="/gestion/joueurs">Retour</button>
</div>
</div>