<div class="lieux">
  <div class="titre">
    <h1>Les Gymnases</h1>
  </div>

  <div class="gymnases-responsive">
    <div class="texte">
      <div class="salles">
        <p class="gymnase">
          Gymnase du Collège Aliénor d'Aquitaine
        </p>  
        <p>
          22 route du Martinet
        </p>
        <p>
          33770 SALLES
        </p>
      </div>
      <div class="mios">
        <p class="gymnase">
          Gymnase de Mios
        </p>
        <p>
          Allée de la Plage
        </p>
        <p>
          33380 MIOS
        </p>
      </div>
    </div>

    <div class="cartes-responsive">
      <div class="planSalles">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6762.548409909786!2d-0.872141766913597!3d44.54993573687022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54ed620497f2e9%3A0x31e20e4138e1f912!2s22+Route+du+Martinet%2C+33770+Salles!5e0!3m2!1sfr!2sfr!4v1550840670499" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="planMios">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4777.324678221602!2d-0.9418030233238223!3d44.60491470700081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5493750779207b%3A0x9d6a375bb51e619b!2sAll%C3%A9e+de+la+Plage%2C+33380+Mios!5e0!3m2!1sfr!2sfr!4v1550840779449" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div> 
    </div>
  </div>
</div>