.lieux{
    font-family: Muli;
  }

  .titre {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  @media only screen and (min-width: 600px) {
    .data {
      display: flex;
      justify-content: center;
    }

    .gymnase {
      font-size: 20px;
      font-weight: bold;
      text-decoration: underline;
      justify-content: center;
    }

    .salles {
      margin-right: 25px;
    }

    .mios {
      margin-left: 25px;
    }

    .plan {
      width: 600px;
      height: 450px;
    }
  }

  @media only screen and (max-width: 600px) {
    .data {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .gymnase {
      font-size: 20px;
      font-weight: bold;
      text-decoration: underline;
      justify-content: center;
    }

    .plan {
      width: 220px;
      height: auto;
    }
  }